<div>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input [formControl]="name" type="text" id="name">
    <div class="alert" *ngIf="name.invalid && (name.touched || name.dirty)">
      <div *ngIf="name.errors?.['required']">Name field is required</div>
      <div *ngIf="name.errors?.['minlength']">Minimum length of field is 2</div>
    </div>
  </div>

  <div>
    <label for="surname">Surname:</label>
    <input [formControl]="surname" type="text" id="surname">
    <div class="alert" *ngIf="surname.invalid && (surname.touched || surname.dirty)">
      <div *ngIf="surname.errors?.['required']">Surname field is required</div>
      <div *ngIf="surname.errors?.['minlength']">Minimum length of field is 2</div>
    </div>
  </div>

  <div>
    <!-- TODO: improve validation of phone format-->
    <label for="phone">Phone:</label>
    <input [formControl]="phone" type="text" id="phone">
    <div class="alert" *ngIf="phone.invalid && (phone.touched || phone.dirty)">
      <div *ngIf="phone.errors?.['required']">Phone field is required</div>
      <div *ngIf="phone.errors?.['minlength']">Minimum length of field is 7</div>
    </div>
  </div>

  <div>
    <label for="email">Email:</label>
    <!--    <input formControlName="email" type="text" id="email">-->
    <input [formControl]="email" type="text" id="email">
    <div class="alert" *ngIf="email.invalid && (email.touched || email.dirty)">
      <div *ngIf="email.errors?.['required']">Email field is required</div>
      <div *ngIf="email.errors?.['email']">Wrong email format</div>
    </div>
  </div>

  <div>
    <label for="address">Address:</label>
    <input [formControl]="address" type="text" id="address">
  </div>

  <div>
    <label for="hasDrivingLicence">Driving licence:</label><br>
    <input [formControl]="drivingLicence" type="radio" id="hasDrivingLicence" value="true">Yes<br>
    <input [formControl]="drivingLicence" type="radio"  id="!hasDrivingLicence" value="false">No<br>
    <div class="alert" *ngIf="drivingLicence.invalid && drivingLicence.touched">
      <div *ngIf="drivingLicence.errors?.['required']">Information about driving licence is required</div>
    </div>
  </div>

  <div>
    <label for="dateOfBirth">Date of birth:</label>
    <input [formControl]="dateOfBirth" type="date" id="dateOfBirth">
    <div class="alert" *ngIf="dateOfBirth.invalid && (dateOfBirth.touched || dateOfBirth.dirty)">
      <div *ngIf="dateOfBirth.errors?.['required']">Date of birth field is required</div>
    </div>
  </div>

    <div>
      <button [disabled]="!clientForm.valid" type="submit" mat-flat-button color="warn">Submit</button>
      <button type="reset" mat-flat-button color="warn">Reset</button>
    </div>


    <!--    <div>-->
    <!--    <mat-progress-bar color="accent" mode="determinate" [value]="calculateFormProgress(clientForm)"></mat-progress-bar>-->
    <!--    </div>-->
  </form>
  <p>Form value: {{ clientForm.value | json }}</p>
</div>
